<h1>SiteConfigurations#index</h1>
<% @site_configurations.each do |config| %>
  <h3><%= config.item %></h3>
  <%= link_to '編集する', edit_site_configuration_path(config) %>
<% end %>
<br>
<%= link_to '登録する', new_site_configuration_path %>