<%= link_to 'youtube登録', new_youtube_video_path %>

<div class="y_index_links">
  <% @youtubes.each do |youtube| %>
    <div class="y_video col-xs-12 col-sm-4 col-md-3">
      <div class="y_video_body">
        <% url = youtube.url.gsub(/http.+v=/, "") %>
        <%# url = url.gsub(/&list.+./, "") %>
        <% url = url.gsub(/&.+./, "") %>
        <%= link_to image_tag('http://i.ytimg.com/vi/' + url + '/hqdefault.jpg',
                                width: '100%',
                                class: 'bits_index_link_img'),
                              youtube_video_path(youtube) %>
        <div class="y_video_body_textarea">
          <h4 class="title"><%= link_to youtube.title, youtube_video_path(youtube) %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div><%# y_index_link %>