<h1>プライバシーポリシー</h1>

<%= simple_format(@privacy.contents) if @privacy.present? %>

<% if user_signed_in? %>
  <% if current_user.user_level > 1 %>
    <%= link_to '編集する', edit_site_configuration_path(@privacy) %>
  <% end %>
<% end %>
