/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background: #DCDEE0;
}

#header {
  background: white;
}
#contants {
  min-height: 100%;
  margin-bottom: -200px;
}
#push {
  height: 200px;
}
#footer {
  width: 100%;
  height: 200px;
  background: #B1AFB6;
}
#site_logo {
  padding: 0 0 0 10px;
  margin: 5px 0 0 0;
}
#site_logo img {
}
#site_logo a {
  color: black;
  margin: 0;
}

#search_area {
  margin-top: 10px;
  height: 40px;
}

#login_status {
  margin-top: 10px;
  padding-right: 20px;
  height: 100%;
  text-align: right;
}