// Place all the styles related to the bits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}
.search_tag {
  margin-right: 5px;
  display: inline;
}

#bits_index_sidebar {
  background: white;
}

.y_index_links {
}
.y_video_body {
  background: white;
  margin-bottom: 10px;
}
.y_video_img_area {
  padding-left: 0;
}
.y_video_body_titlearea {
  /*margin: 10px;*/
}
.y_video_body_titlearea h4 {
  font-size: 20px;
}
.y_video_textarea p {
  color: gray;
}
.bits_index_link_img {
}
.pagenation_count {
  font-size: 14px;
  font-weight: bold;
}
.pagenation_bar {
  text-align: center;
}