// Place all the styles related to the bits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}
.search_tag {
  margin-right: 5px;
  display: inline;
}