// Place all the styles related to the bits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

#search_area {
  margin-top: 15px;
}

.search_tag {
  margin: 5px 0 5px 15px;
}
.search_tag a, .genre a {
  color: black;
}
.search_tag a:hover, .genre a:hover {
  color: gray;
  text-decoration: none;
}

#bits_index_sidebar {
  background: white;
  margin-bottom: 15px;
}
#y_index_links .col-sm-9 {
  padding-right: 0;
}
@media screen and (max-width:768px) {
  #y_index_links .col-sm-9 {
      padding: 0;
  }
}

.y_video_top_body_sm {
  padding: 0 10px 20px 10px;
}
.y_video_top_body_lg {
  padding: 0 10px 20px 10px;
  position: relative;
}
.y_video_top_titlearea_lg {
  position: absolute;
  top: 5px;
  left: 5px;
}
.y_video_top_catchphrase_lg {
  position: absolute;
  top: 85%;
  left: 0;
  display: inline;
  width: 100%;
}
.y_video_top_titlearea_lg h4 {
  font-size: 20px;
  text-shadow: 2px 2px 4px #000;
}
.y_video_top_catchphrase_lg h5 {
  font-size: 16px;
  text-shadow: 2px 2px 4px #000;
  text-align: right;
  padding-right: 20px;
}
.y_video_top_titlearea_lg h4, .y_video_top_catchphrase_lg h5 {
  color: white;
}
.y_video_top_link_lg, .y_video_top_link_sm {
  width: 100%;
}
.y_video_top_textarea {
  margin-top: 10px;
}
.y_video_top_titlearea_sm, .y_video_top_catchphrase_sm {
  border-bottom: 1px solid #C9C9C9;
}
.y_video_top_titlearea_sm h4 {
  font-size: 14px;
  font-weight: bold;
}
.y_video_top_catchphrase_sm h5 {
  font-size: 12px;
}
.y_video_top_titlearea_sm h4, .y_video_top_catchphrase_sm h5 {
  color: black;
  margin: 5px;
}
.pickup_level_4 {
  margin-top: 60%;
}
.y_video_top_poster_comment {
  background: #D3D3D3;
  border-radius: 3px;
  position: relative;
  margin-top: 10px;
}
.y_video_top_poster_comment:before {
  position: absolute;
  left: 50%;
  top: -30px;
  content: '';
  width: 0;
  height: 0;
  background: transparent;
  border: 20px solid;
  border-color: transparent transparent #D3D3D3 transparent;
}
.y_video_top_poster_comment p {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
}

.y_video_body {
  background: white;
  margin-bottom: 10px;
}
.y_video_img_area {
  padding-left: 0;
}
.y_video_body_titlearea {
  /*margin: 10px;*/
}
.y_video_body_titlearea h4 {
  font-size: 20px;
}
.y_video_textarea p {
  color: gray;
}
.bits_index_link_img {
}
.pagenation_count {
  font-size: 14px;
  font-weight: bold;
}
.pagenation_bar {
  text-align: center;
}

#order_change {
  width: 100%;
  text-align: right;
  padding: 15px
}