// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#characnt {
  background-color: rgba(0,0,0,0);
  border: none;
  text-align: right;
}
#board_comment_submit {
  text-align: right;
}