@font-face {
  font-family: 'icomoon';
  src:  font-url('icomoon.eot?qitbj9');
  src:  font-url('icomoon.eot?qitbj9#iefix') format('embedded-opentype'),
    font-url('icomoon.ttf?qitbj9') format('truetype'),
    font-url('icomoon.woff?qitbj9') format('woff'),
    font-url('icomoon.svg?qitbj9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-closed_nav_button:before {
  content: "\e900";
  color: #fff;
}
.icon-comment:before {
  content: "\e901";
}
.icon-checked_video:before {
  content: "\e902";
}
.icon-maked_talk:before {
  content: "\e903";
}
.icon-checked_talk:before {
  content: "\e904";
}
.icon-history_video:before {
  content: "\e905";
}
.icon-history:before {
  content: "\e906";
}
.icon-information:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-new_talk:before {
  content: "\e909";
}
.icon-pick_talk:before {
  content: "\e90a";
}
.icon-login:before {
  content: "\e90b";
}
.icon-mypage:before {
  content: "\e90c";
}
.icon-talk:before {
  content: "\e90d";
}
.icon-video:before {
  content: "\e90e";
}
