// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#prifile_area {
  // border: 1px solid black;
  width: 100%;
}
  @media screen and (max-width: 767px) {
    #prifile_area td,
    #prifile_area tr {
      width: 100%;
      display: inline-block;
    }
  }

#prifile_left_area {
  background: black;
  border: 1px solid black;
}
#prifile_left_area p {
  color: white;
}
#prifile_left_area_picture {
  border-radius: 100%;
  margin-top:20px;
}
  @media screen and (max-width:767px) {
    #prifile_left_area_picture {
      width: 150px;
      height:150px;
      border-radius: 100%;
      margin-top:25px;
      margin-bottom:25px;
    }
  }


#prifile_check_area p {
  font-size:12px;
}

#prifile_right_area {
  background: white;
  border: 2px solid black;
}

#prifile_area_edit_link_area {
  text-align: right;
  padding-right:0;
}

#prifile_area_edit_link_area a:hover {
  text-decoration: none;
  color:grey;
  }



#prifile_area_edit_link {
  margin-top: 20px;
  border: 3px solid black;
  padding: 20px 30px;
  color: black;
  display: inline-block;
}

@media screen and (min-width:768px) {
  #profile_email_area p {
    padding-top:20px;
  }
}


.mypage-user-name {
  margin-top:110px;
}
  @media screen and (max-width:991px) {
    .mypage-user-name {
      margin-top:70px;
    }
  }
  @media screen and (max-width:767px) {
    .mypage-user-name {
      margin-top:10px;
    }
  }

#prifile_right_area {
  min-height:50px;
}
  @media screen and (max-width:767px) {
    #prifile_right_area {
      padding-top:15px;
    }
  }
