// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_area {
  // border: 1px solid black;
  width: 100%;
}
  @media screen and (max-width: 767px) {
    #profile_area td,
    #profile_area tr {
      width: 100%;
      display: inline-block;
    }
  }


.profile_area table{
  height:400px;
}

#user_edit_left_area {
  background: black;
  border: 2px solid black;
}
#user_edit_profile_picture {
  display: inline-block;
}
@media screen and (max-width:767px) {
  #user_edit_profile_picture {
    text-align:center;
  }
}

@media screen and (max-width:767px) {
  #user_edit_picture_link {
    text-align:center;
    padding-top:15px;
  }
}

#profile_left_area {
  border: 2px solid black;
  vertical-align: top;
  padding-top:40px;
}

#profile_right_area {
  vertical-align: top;
  padding-top:30px;
}

#user_edit_picture {
  border-radius: 100%;
  width:35%;
  margin-top:20px;
}

#user_edit_right_area {
  background: white;
  vertical-align: top;
}
#user_edit_cancel {
  display: inline-block;
}
#user_edit_submit_area {
  display: inline-block;
}
#user_edit_submit_area input {
  margin-top: 20px;
  margin-left:20px;
  border: 1px solid black;
  padding: 15px 20px 15px 20px;
  color: black;
  display: inline-block;
  background: white;
}

#profile_left_area {
  background: black;
  border: 1px solid black;
}
#profile_left_area p {
  color: white;
}
#profile_left_area_picture {
  border-radius: 100%;
  margin-top:0px;
  margin-bottom:20px;
}
  @media screen and (max-width:767px) {
    #profile_left_area_picture {
      width: 150px;
      height:150px;
      border-radius: 100%;
      margin-top:10px;
      margin-bottom:25px;
    }
  }

#profile_check_area p {
  font-size:12px;
}

#profile_right_area {
  background: white;
  border: 2px solid black;
}

#profile_area_edit_link_area {
  text-align: right;
  padding-right:0;
}

#profile_area_edit_link_area a:hover {
  text-decoration: none;
  color:grey;
  }



#profile_area_edit_link {
  margin-top: 20px;
  border: 3px solid black;
  padding: 20px 30px;
  color: black;
  display: inline-block;
}

@media screen and (min-width:768px) {
  #profile_email_area p {
    padding-top:20px;
  }
}


.mypage-user-name {
  margin-top:110px;
}
  @media screen and (max-width:991px) {
    .mypage-user-name {
      margin-top:70px;
    }
  }
  @media screen and (max-width:767px) {
    .mypage-user-name {
      margin-top:10px;
    }
  }

#profile_right_area {
  min-height:50px;
}
  @media screen and (max-width:767px) {
    #profile_right_area {
      padding-top:15px;
    }
  }
