/* エラーが出たフィールドが改行されないようにする */
.field_with_errors {
  display: inline-block;
}
.user_error_msg p {
  color: red;
}

#profile_text_area {
  height: 250px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #profile_text_area {
    height: 350px;
  }
}
#profile_text_area::-webkit-input-placeholder::after {
 display:block;
 content:"Second line \a Third line";
}

/* users/edit */
#user_edit_left_area {
  border: 2px solid black;
}

#user_edit_right_area {
  border: 2px solid black;
}

#user_edit_area label,
#user_edit_area i,
#user_edit_area em {
  color: white;
  padding-left: 0;
}
@media screen and (max-width: 991px) {
  #user_edit_area label,
  #user_edit_area i,
  #user_edit_area em {
    font-size:13px;
  }
}
@media screen and (max-width: 767px) {
  #user_edit_area label,
  #user_edit_area i,
  #user_edit_area em {
    font-size:12px;
  }
}

@media screen and (max-width: 767px) {
  #user_edit_area td {
    width: 100%;
    display: inline-block;
  }
}

.input-passwords {
  padding:0;
  max-width:500px;
  margin-top:30px;
  padding-top:15px;
  border-top: 1px solid white;
}

#user_edit_left_area {
  background: black;
}
#user_edit_profile_picture {
  display: inline-block;
}
@media screen and (max-width:767px) {
  #user_edit_profile_picture {
    text-align:center;
  }
}

@media screen and (max-width:767px) {
  #user_edit_picture_link {
    text-align:center;
    padding-top:15px;
  }
}

#user_edit_picture {
  border-radius: 100%;
  width:35%;
  margin-top:20px;
}

#user_edit_right_area {
  background: white;
  vertical-align: top;
}
  #user_edit_cancel {
    display: inline-block;
  }
  #user_edit_submit_area {
    display: inline-block;
  }
  #user_edit_submit_area input {
    margin-top: 20px;
    margin-left:20px;
    border: 1px solid black;
    padding: 15px 20px 15px 20px;
    color: black;
    display: inline-block;
    background: white;
  }

.self-introduction {
  padding:0;
  max-width:450px
}
  @media screen and (max-width: 991px) {
    .self-introduction {
      padding:0;
      max-width:300px
    }
  }
  @media screen and (max-width: 767px) {
    .self-introduction {
      padding:0;
      max-width:500px
    }
  }

.self-introduction label {
  color: gray !important;
  padding: 20px 10px 10px 10px;
}


#user_edit_picture_link {
  margin-top:25px;
  margin-bottom:25px;
  padding-left:0;
  text-decoration: none;
  color:gray;
}

@media screen and (max-width:767px) {
  #user_edit_picture_link {
    text-align:center;
    padding-top:5px;
    margin-top:15px;
  }
}

#user_edit_picture_link:hover {
  text-decoration: none;
  color:white;
}

.mypage_terms {
  border: 1px solid white;
  color:#FFF;
  height: 300px;
  overflow: auto;
  padding-right:13px;
  margin-left:10px;
  margin-right:10px;
  margin-top:15px;
  margin-bottom:15px;
}

.mypage_terms_title h3 {
  color:#FFF;
}
@media screen and (max-width:767px) {
  .mypage_terms_title h3 {
    font-size:18px;
  }
}

@media screen and (max-width:767px) {
  .terms_title {
  font-size:18px;
  }
}

.user_reg_terms{
  height:300px;
  overflow: auto;
  border: 1px solid gray;
  padding-right:13px;
  margin-left:10px;
  margin-right:10px;
}

@media screen and (max-width:767px) {
.user_error_msg {
  font-size:12px;
}
}

/* チェックボックス周辺の見た目調整 */
.checker .check {
  display: inline-block; vertical-align: middle;
}
.checker .text {
  display: inline-block; vertical-align: middle; max-width: 250px;
}
​
.checker input {
  display: none;
}
.checker .check {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.checker .check::before {
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
.checker input:checked + .check::after {
  display: block;
  position: absolute;
  top: 0px;
  left: 2px;
  width: 15px;
  height: 7px;
  border-left: 3px solid #FFF;
  border-bottom: 3px solid #FFF;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.checker input:disabled + .check:before {
  background-color: #eee;
}
.checker input:checked:disabled + .check::after {
  border-left: 3px solid #aaa;
  border-bottom: 3px solid #aaa;
}

.check_text {
  padding-top:5px;
  margin-top:5px;
  margin-bottom:0;
}

/* チェックボックス周辺の見た目調整 */
.checker_mp .check_mp {
  display: inline-block; vertical-align: middle;
}
.checker_mp .text {
  display: inline-block; vertical-align: middle; max-width: 250px;
}
​
.checker_mp input {
  display: none;
}
.checker_mp .check_mp {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.checker_mp .check_mp::before {
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
}
.checker_mp input:checked + .check_mp::after {
  display: block;
  position: absolute;
  top: 0px;
  left: 2px;
  width: 15px;
  height: 7px;
  border-left: 3px solid #FFF;
  border-bottom: 3px solid #FFF;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.checker_mp input:disabled + .check_mp:before {
  background-color: #eee;
}
.checker_mp input:checked:disabled + .check_mp::after {
  border-left: 3px solid #aaa;
  border-bottom: 3px solid #aaa;
}

.check_text {
  padding-top:5px;
  margin-top:5px;
  margin-bottom:0;
}

.checker_class {
  display: none;
}

.checker_class_mp {
  display: none;
}
