/* エラーが出たフィールドが改行されないようにする */
.field_with_errors {
  display: inline-block;
}

#profile_text_area {
  height: 250px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #profile_text_area {
    height: 350px;
  }
}
#profile_text_area::-webkit-input-placeholder::after {
 display:block;
 content:"Second line \a Third line";
}

/* users/edit */
#user_edit_left_area {
  border: 2px solid black;
}

#user_edit_right_area {
  border: 2px solid black;
}

#user_edit_area label,
#user_edit_area i,
#user_edit_area em {
  color: white;
  padding-left: 0;
}
@media screen and (max-width: 991px) {
  #user_edit_area label,
  #user_edit_area i,
  #user_edit_area em {
    font-size:13px;
  }
}
@media screen and (max-width: 767px) {
  #user_edit_area label,
  #user_edit_area i,
  #user_edit_area em {
    font-size:12px;
  }
}

@media screen and (max-width: 767px) {
  #user_edit_area td {
    width: 100%;
    display: inline-block;
  }
}

.input-passwords {
  padding:0;
  max-width:500px;
  margin-top:30px;
  padding-top:15px;
  border-top: 1px solid white;
}

.self-introduction {
  padding:0;
  max-width:450px
}
  @media screen and (max-width: 991px) {
    .self-introduction {
      padding:0;
      max-width:300px
    }
  }
  @media screen and (max-width: 767px) {
    .self-introduction {
      padding:0;
      max-width:500px
    }
  }

.self-introduction label {
  color: gray !important;
  padding: 20px 10px 10px 10px;
}


#user_edit_picture_link {
  margin-top:25px;
  margin-bottom:25px;
  padding-left:0;
  text-decoration: none;
  color:gray;
}

#user_edit_picture_link:hover {
  text-decoration: none;
  color:white;
}
