// Place all the styles related to the youtubeVideos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.y_index_links {
}
.y_video_body {
  background: white;
  margin-bottom: 10px;
}
.y_video_img_area {
  padding-left: 0;
}
.y_video_body_titlearea {
  /*margin: 10px;*/
}
.y_video_body_titlearea h4 {
  font-size: 20px;
}
.y_video_textarea p {
  color: gray;
}
.bits_index_link_img {
}

.div_right_button {
  overflow: hidden;
  padding-bottom: 15px;
}
.right_button {
  float: right;
}

#y_video_show_titlearea {
  background: white;
}
@media screen and (max-width:768px) {
  #y_video_show_body .col-sm-9 {
      padding: 0;
  }
}
#y_video_show_body .col-sm-9 {
  padding-left: 0;
  /*background: white;*/
}
#y_video_show_titlearea{
  margin-top: 10px;
}
#y_video_show_titlearea h2{
  font-family: Roboto;
  margin: 0;
}
#y_video_show_text {
  margin-top: 10px;
  padding: 5px;
  background: white;
}
#y_video_newcomment_edit_area {
  margin: 10px 0;
  padding: 5px;
  background: white;
}
#comment_text_area, .reply_text_area {
  max-width: 100%;
}
#comment_submit, #reply_submit {
  text-align: right;
}
#y_video_comment_list_area {
  margin-top: 10px;
  padding: 5px;
  background: white;
}
.y_video_comment_list_view{
  border-bottom: 1px solid #DCDEE0;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.y_video_reply_list_view {
  margin-left: 7%;
  border-top: 1px dotted #DCDEE0;
}
.y_video_reply_list_view p {
  word-wrap:break-word;
}
.reply_view_button_area {
  overflow: hidden;
}
.reply_view_button {
  text-align: right;
  color: #B2B2B2;
  margin-top: 10px;
  margin-bottom: 0;
  float: right;
}
.reply_view_button:hover {
  text-align: right;
  color: #5C5C5C;
  cursor: pointer;  
}

#related_videos_list {
  background: white;
  padding: 3px;
  margin-top: 10px;
}
#related_videos_link {
  margin-bottom: 5px;
}
#related_videos_link_img {
  padding: 0;
}
#related_videos_link_title {
  padding: 0;
}