// Place all the styles related to the youtubeVideos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.y_index_links {
}
.y_video_body {
  background: white;
  margin-bottom: 10px;
}
.y_video_img_area {
  padding-left: 0;
}

.bits_index_link_img_mag {
  width:70%;
  height:auto;
}
.y_video_img_video_time_mag {
  position: absolute;
  bottom: 0;
  right: 30%;
  background: black;
  color: white;
}

.y_video_body_titlearea {
  /*margin: 10px;*/
}
.y_video_body_titlearea h4 {
  font-size: 20px;
}
.y_video_textarea p {
  color: gray;
}
.bits_index_link_img {
}

.div_right_button {
  overflow: hidden;
  padding-bottom: 15px;
}
.right_button {
  float: right;
}

#y_video_show_text,
#y_video_newcomment_edit_area,
#y_video_comment_list_area,
/*#related_videos_list_in,*/
#y_video_commentsarea_characnt,
#y_video_replyarea_characnt {
  background: #F6F6F6;
}
@media screen and (max-width:767px) {
  #y_video_show_body .col-sm-9 {
    padding: 0;
  }
}

#related_videos_list_in {
  margin-top:10px;
}

.related_videos {
  padding-top:15px;
  padding-left:15px;
  font-size:20px;
}
@media screen and (max-width:767px) {
  .related_videos {
    padding-top:15px;
    padding-bottom:5px;
    padding-left:10px;
    font-size:18px;
  }
}

.make_border_1 {
  width:85%;
  height:1px;
  background:gray;
  margin-top:10px;
}

.make_border_2 {
  width:85%;
  height:1px;
  background:gray;
  margin-top:0px;
  margin-bottom:10px;
}

.make_border_3 {
  width:85%;
  height:1px;
  background:gray;
  margin-top:5px;
  margin-bottom:10px;
  margin-left:5px;
}

.y_video_tags_area {
  display:inline-block;
  padding-left:2px;
}

.y_video_tags_area a {
  display:inline-block;
}

.y_video_tags_area a:hover {
  color: black;
}



#y_video_show_body .col-sm-9 {
  padding-left: 0;
}
#y_video_show_titlearea{
  margin-top: 10px;
  padding: 5px;
}
#y_video_show_titlearea h1 {
  margin: 0;
  font-size: 30px;
}
#y_video_show_titlearea h4 {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  #y_video_show_titlearea h1{
    margin: 0;
    font-size: 18px;
  }
  #y_video_show_titlearea h4 {
    font-size: 14px;
  }
}

#video_show_button_area {
  position: relative;
  margin-bottom: 35px;
}
#share_button_area {
  position: absolute;
  top: 10px;
  left: 0;
}

#good_button_area {
  position: absolute;
  width: 200px;
  top: 0;
  right: 205px;
  margin-right: 10px;
}
  @media screen and (max-width: 1199px) {
    #good_button_area {
      position: absolute;
      width: 200px;
      top: 0;
      right: 120px;
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 991px) {
    #good_button_area {
      position: absolute;
      width: 200px;
      top: 0;
      right: 0;
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    #good_button_area {
      position: absolute;
      width: 200px;
      top: 7px;
      right: -11px;
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 500px) {
    #good_button_area {
      position: relative;
    }
  }




@media screen and (max-width: 767px) {
  #video_show_button_area {
    position: relative;
    margin-bottom: 35px;
    min-height: 33px;
  }
  #share_button_area {
    position: absolute;
    top: 10px;
    left: 0;
  }
}

#good_button_area a {
  height: 100%;
}
#good_button_area:hover a {
  text-decoration: none;
}
#good_button_heart,
#good_button_hand {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 5px;
  text-align: right;
}
#good_button_hand {
  color: gray;
}

#board_like_count {
  margin-bottom:0px !important;
}

.icon-good:before{
  font-size:23px;
  color:black;
}

#good_button_hand:hover .icon-good:before{
  color: #FF6D8F;
}
#good_button_heart .icon-good:before {
  color: #FF6D8F;
}

#good_button_heart:hover {
  text-decoration: none;
}
#y_video_show_pv_count {
  width: 90%;
  text-align: right;
  font-size: 18px;
  padding-top:18px;
}
@media screen and (max-width: 768px) {
#y_video_show_pv_count {
    font-size: 15px;
  }
}
.ad_area {
  padding: 15px 0 0 0;
  margin: 5px 0;
}
#y_video_show_text {
  padding: 5px;
}
#y_video_show_text p {
  margin: 0;
}
#y_video_newcomment_edit_area {
  margin: 10px 0;
  padding: 5px;
}
#y_video_commentsarea_characnt,
#y_video_replyarea_characnt {
  border: none;
  text-align: right;
}
#comment_text_area, .reply_text_area {
  max-width: 100%;
  min-height: 100px;
}
#comment_submit, #reply_submit {
  text-align: right;
}
#y_video_comment_list_area {
  margin-top: 10px;
  padding: 5px;
}
#y_video_show_poster_comment_area {
  border-bottom: 2px solid #DCDEE0;
  margin-bottom: 10px;
}
.y_video_comment_list_view{
  border-bottom: 2px solid #DCDEE0;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.y_video_reply_list_view {
  margin-left: 7%;
  border-top: 1px solid #DCDEE0;
}
.y_video_reply_list_view p {
  word-wrap:break-word;
}
.reply_view_button_area {
  overflow: hidden;
}
.reply_view_button {
  text-align: right;
  color: #696969;
  margin-top: 10px;
  margin-bottom: 0;
  float: right;
}
.reply_view_button:hover {
  text-align: right;
  color: #292929;
  cursor: pointer;
}

/*#related_videos_list {
  padding: 5px;
  margin-top: 10px;
}
.related_videos_link {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  display: inline-block;
}
.y_video_show_img_video_time {
  position: absolute;
  bottom: 0;
  right: 1%;
  background: black;
  color: white;
}

.y_video_img_video_time {
  font-size:13px;
  padding:2px 4px;
}
  @media screen and (max-width: 767px) {
    .y_video_img_video_time {
      font-size:11px;
      padding:1px 2px;
    }
  }

.related_video_view_count {
    position: absolute;
    bottom: 0;
    left: 51%;
  }
  @media screen and (max-width: 992px) {
    .related_video_view_count {
      position: absolute;
      bottom: 0;
      left: 44%;
    }
  }
.related_video_view_count p {
  font-size: 12px;
  color: gray;
  margin:0;
  padding: 0;
}
.related_videos_link_title {
  margin: 0 0 0 5px;
  color: black;
  font-size: 14px;
}
.related_videos_link_catchphrase {
  margin: 0 0 15px 5px;
  color: gray;
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  .related_videos_link_title {
    font-size: 12px;
  }
}
.related_videos_link:hover .related_videos_link_title {
  color: blue;
}*/
