// Place all the styles related to the youtubeVideos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.y_index_links {
}
.y_video_body {
  background: white;
  margin-bottom: 10px;
}
.y_video_img_area {
  padding-left: 0;
}
.y_video_body_titlearea {
  /*margin: 10px;*/
}
.y_video_body_titlearea h4 {
  font-size: 20px;
}
.y_video_textarea p {
  color: gray;
}
.bits_index_link_img {
}

.div_right_button {
  overflow: hidden;
  padding-bottom: 15px;
}
.right_button {
  float: right;
}

#y_video_show_titlearea,
#y_video_show_text,
#y_video_newcomment_edit_area,
#y_video_comment_list_area,
#related_videos_list_in,
#y_video_commentsarea_characnt,
#y_video_replyarea_characnt {
  background: #F6F6F6;
}
@media screen and (max-width:768px) {
  #y_video_show_body .col-sm-9 {
    padding: 0;
  }
}
#y_video_show_body .col-sm-9 {
  padding-left: 0;
}
#y_video_show_titlearea{
  margin-top: 10px;
  padding: 5px;
}
#y_video_show_titlearea h2{
  margin: 0;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  #y_video_show_titlearea h2{
    margin: 0;
    font-size: 18px;
  }
}
#video_show_button_area {
  position: relative;
  margin-bottom: 35px;
}
#share_button_area {
  position: absolute;
  top: 0;
  left: 0;
}
#good_button_area {
  position: absolute;
  width: 250px;
  top: 0;
  right: -171px;
  margin-right: 10px;
}
#good_button_count {
  position: absolute;
  top: 11%;
  left: 13%;
}
@media screen and (max-width: 768px) {
  #video_show_button_area {
    position: relative;
    margin-bottom: 35px;
    min-height: 33px;
  }
  #share_button_area {
    position: absolute;
    top: 0;
    left: 0;
  }
  #good_button_area {
    position: absolute;
    width: 100px;
    top: 40px;
    right: -35px;
    margin-right: 10px;
  }
  #good_button_count {
    position: absolute;
    top: 11%;
    left: 33%;
  }
}
#good_button_area a {
  height: 100%;
}
#good_button_area:hover a {
  text-decoration: none;
}
#good_button_heart, #good_button_hand {
  display: inline;
  padding: 0 10px 0 0;
  margin: 0;
  font-size: 23px;
  text-align: right;
}
#good_button_hand {
  color: gray;
}
#good_button_hand:hover {
  color: #383838;
}
#good_button_heart {
  color: blue;
}
#good_button_heart:hover {
  text-decoration: none;
}

#y_video_show_pv_count {
  width: 100%;
  text-align: right;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
#y_video_show_pv_count {
    font-size: 15px;
  }
}
.ad_area {
  padding: 15px 0 0 0;
  margin: 5px 0;
}
#y_video_show_text {
  padding: 5px;
}
#y_video_show_text p {
  margin: 0;
}
#y_video_newcomment_edit_area {
  margin: 10px 0;
  padding: 5px;
}
#y_video_commentsarea_characnt,
#y_video_replyarea_characnt {
  border: none;
  text-align: right;
}
#comment_text_area, .reply_text_area {
  max-width: 100%;
  min-height: 100px;
}
#comment_submit, #reply_submit {
  text-align: right;
}
#y_video_comment_list_area {
  margin-top: 10px;
  padding: 5px;
}
#y_video_show_poster_comment_area {
  border-bottom: 2px solid #DCDEE0;
  margin-bottom: 10px;
}
.y_video_comment_list_view{
  border-bottom: 2px solid #DCDEE0;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.y_video_reply_list_view {
  margin-left: 7%;
  border-top: 1px solid #DCDEE0;
}
.y_video_reply_list_view p {
  word-wrap:break-word;
}
.reply_view_button_area {
  overflow: hidden;
}
.reply_view_button {
  text-align: right;
  color: #696969;
  margin-top: 10px;
  margin-bottom: 0;
  float: right;
}
.reply_view_button:hover {
  text-align: right;
  color: #292929;
  cursor: pointer;  
}

#related_videos_list {
  padding: 5px;
  margin-top: 10px;
}
.related_videos_link {
  position: relative;
  margin-bottom: 5px;
}
.related_video_view_count {
    position: absolute;
    bottom: 0;
    left: 51%;
  }
@media screen and (max-width: 992px) {
  .related_video_view_count {
    position: absolute;
    bottom: 0;
    left: 44%;
  }
}
.related_video_view_count p {
  font-size: 12px;
  color: gray;
  margin:0;
  padding: 0;
}
.related_videos_link_title p {
  margin-left: 5px;
  color: black;
  padding-bottom: 5px;
}
.related_videos_link:hover .related_videos_link_title p {
  color: blue;
}