// Place all the styles related to the youtubeVideos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.y_video {

}
.y_video_body {
  background: white;
  border-radius: 10px;
  margin: 5px;
}
.y_video_body_textarea {
  margin: 10px;
}
.y_video_body_textarea h4 {
  font-size: 14px;
}
.bits_index_link_img {
  border-radius: 10px 10px 0 0;
}

#y_video_show_titlearea {
  background: white;
}
#y_video_show_body {
  padding-left: 0;
  /*background: white;*/
}
#y_video_show_titlearea{
  /*background: white;*/
}
#y_video_show_titlearea h2{
  font-family: Roboto;
}
#y_video_show_text {
  margin-top: 10px;
  padding: 5px;
  background: white;
}
#y_video_newcomment_edit_area {
  margin-top: 10px;
  padding: 5px;
  background: white;
}
#comment_text_area {
  max-width: 100%;
}
#comment_submit, #reply_submit {
  text-align: right;
}
#y_video_comment_list_area {
  margin-top: 10px;
  padding: 5px;
  background: white;
}
.y_video_comment_list_view{
  border-bottom: 1px solid #DCDEE0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.y_video_reply_list_view {
  padding-left: 7%;
  border-top: 1px dotted #DCDEE0;
}

#related_videos_list {
  background: white;
  padding: 3px;
  margin-top: 0;
}
#related_videos_link {
  margin-bottom: 5px;
}
#related_videos_link_img {
  padding: 0;
}
#related_videos_link_title {
  padding: 0;
}