----------------------------------------------------------------------<br>
このメールは自動的に送信されています。返信はできません。<br>
----------------------------------------------------------------------<br>
━━━━━━━━━━━━━━━━━━━━<br>
　◆「ビット」パスワード変更申請◆<br>
━━━━━━━━━━━━━━━━━━━━<br>
<br>
ビット運営事務局です。<br>
<br>
<%= @resource.email %> こちらのメールアドレスでパスワードの再設定依頼がありました。<br>
<br>
下記リンクをクリックするとパスワードがリセットされ、新しいパスワードの設定画面になります。<br>
<br>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<br>
パスワードの変更をご希望されない場合は、このメールを無視してください。<br>
<br>
上記リンクにアクセスし設定が完了するまでパスワードは変更されません。<br>
<br>
その他、お困りごとやご質問がございましたら、お気軽にお問い合わせください。<br>
----------------------------------------------------------------------<br>
━━━━━━━━━━━━━━<br>
　◆お問い合わせ◆<br>
━━━━━━━━━━━━━━<br>
踊り出す可能性「ビット」<br>
株式会社GORIGORI　ビット運営事務局<br>
URL：https://bit-ballet.com<br>
お問い合わせ先：support@bit-ballet.com<br>
----------------------------------------------------------------------<br>